/* Main container */
.main {
    margin-top: 4em;

    @media (max-width: 500px) {
        margin-top: 1em;
    }
}

/* Creating account description */
.description {
    color: #5E647A;
}

/* Right form */
.form-a {
    margin-left: 20%;
    background-image: url(./img/header/brand-bg.png)!important;
    background-size: cover;
    padding: 3em;
    height: 100%;

    @media (max-width: 1000px) {
        margin-left: 0;
        margin-top: 3em;
    }
}

/* Social media icons on header */
.social {
    @media (max-width: 1000px ) {
        display: none;
    }
}

.form-a h2 span {
    font-size: 2em;
    font-weight: 500;
}

.form-a input {
   background: none;
   border: 2px solid white;
}

.form-a .btn {
    width: 80%;
    background: black!important;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.form-a p {
    padding-top: 5em;
}

.input-group-text {
    gap: 1em;
    width: 30%;

    @media (max-width: 500px) {
        gap: 5px;
        width: 50%;
    }
}

/* Footer */
footer {
    margin-top: 5em;

    @media (max-width: 600px) {
        padding: 0 2em;
    }
}

footer .coins {
    display: flex;
    justify-content: space-around;

    @media (max-width:1110px) {
        display: none;
    }
}

.nav-list {
    margin-top: 3em;
}

.nav-list-logo {
    width: 8em;
}

.link-company {
    text-decoration: none;
    border-bottom: dotted;
}

footer nav a {
    color: #5E647A;
    text-decoration: none;
    font-weight: 500;
}

footer p {
    color: #5E647A;
}

.link-invesint {
    text-decoration: none;
    border: 1px solid #535FE6;
    padding: 6px;
    color: #535FE6;
}